@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Mingzat&family=Noto+Sans+Hanunoo&family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
    color: aliceblue;
}

body{
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 200px;
    justify-content: end;

}
.cont{
    /* width: 100%;
    height: 100%; */
    padding: 20px;
    padding-left: 150px;
    background-color: rgb(0, 0, 0);
    padding-right: 150px;
}
.container{
    background-color: rgb(44, 62, 80);
    padding: 10px;
    /* height: 100vh; */
    display: flex;
    /* justify-content: center; 
    align-items: center;  */
    flex-direction: column;
    border-radius: 50px;
    gap: 30px;
}

.container-2{
    /* position: relative;
    bottom: 300px; */
    margin-top:50px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
}

.img-cir{
    height: 100px;
    width: 100px;
    margin-right:10px ;
    border-radius: 50px;
}
.primera-v22{
    flex-direction: column;
}
/* .container-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
} */
.container-4 {
    position: relative;
    left: 200px;
    display: grid;
    grid-template-areas:
        "uno dos"
        "tres cuatro";
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 800px;
    gap: 30px;
}

.uno {

    grid-area: uno;
}

.dos {
    grid-area: dos;
}

.tres {
    grid-area: tres;
}

.cuatro {
    grid-area: cuatro;
}

.uno, .dos,.tres,.cuatro{
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* height: 100px; 
    width: 400px;  */
    background-color: rgb(86, 101, 115);
    gap: 0px;
    padding: 0px;
    text-align: justify; /* Justificar el texto */
    margin-top: 20px;


}

.titulo{
    border: solid red;
    position: relative;
    right: 180px;
    bottom: 30px;
    font-size: 20px;
    color: aliceblue;
    border-radius: 50px;
}
.img-nor {
    position: relative;
    left: 120px;
    height: 300px;
    width: 300px;
    float: left;
    border-radius: 50px;
    -webkit-box-shadow: 9px -10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px -10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 9px -10px 5px 0px rgba(0,0,0,0.75);
}
.container-3{
    width: 500px;
    margin-left: 200px;
    width: 800px;
}

.container-v32{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    /* margin-top: 10px; */
    border: solid rgb(33, 47, 61 );
    border-width: 5px; /* Ajusta el grosor del borde */  
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(86, 101, 115);
}

.t{
    padding-right: 0px;
    text-align: justify;
}

.img-botton {
    height: 50px;
    width: 50px;
    /* border: solid red; */
    border-radius: 50px;
    cursor: pointer;

}
.emo{
    border-radius: 100px;
    cursor: pointer;
}
.code{
    cursor: help;
}

/* .emo:hover{
    background-color: black;
} */
